.DS_Store
node_modules/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn*
*doc
*pdf
*docx
*pptx
*副本*
private*
*private*
html/
xml/
test/
*zip
*log.txt
src/bak/ec_error_message.txt
src/ec_resolve_log.txt
